.header {
  background-color: #adb5bd;
  padding-block: 20px;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}
